@use postcss-preset-env {
  stage: 0;
}
body {
  min-height: 100vh;
  display: grid;
  align-items: center;
}
form {
  display: flex;
  flex-wrap: wrap;
}
form > input {
  flex: 1 1 10ch;
  margin: 0.5rem;
}
form > input[type="email"] {
  flex: 3 1 30ch;
}
input {
  border: none;
  background: #ededed;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}
input[type="submit"] {
  background: hotpink;
  color: white;
  box-shadow: 0 0.75rem 0.5rem -0.5rem #e6b3b3;
}
